.chat-main
  .group-info
    .group-info__left-box
      - current_user.groups.each do |group|
        .group-info__current-group
          = group.name
        %ul.group-info__member-list
          Member :
          - @group.users.each do |user|    
            %li.group-info__member-list__member
              = user.name
    = link_to edit_group_path(@group) do
      .edit-btn
        Edit

  .message-list
    = render @messages
    -# .message-list__info
    -#   %p.message-list__name
    -#     masa
    -#   %p.message-list__date
    -#     2020/04/08(Wed) 13:01:47
    -# .text
    -#   おはよう！
    -# .message-list__info
    -#   %p.message-list__name
    -#     masa
    -#   %p.message-list__date
    -#     2020/04/08(Wed) 13:01:53
    -# .text
    -#   今日は夜から雨です。

  .message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'form__mask__file'
      = f.submit 'Send', class: 'submit-btn'



